<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.w3.org/2001/XMLSchema"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

<!--    <context:property-placeholder location = "classpath:musicPlayer.properties"/>-->

<!--    <bean id = "musicClassicalBean"-->
<!--          class = "org.example.ClassicalMusic">-->
<!--    </bean>-->
<!--    <bean id = "musicRockBean"-->
<!--          class = "org.example.RockMusic">-->
<!--    </bean>-->

    <bean id="musicBean"
          class="org.example.ClassicalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          factory-method="getClassicalMusic">
    </bean>

<!--    <bean id = "musicPlayer"-->
<!--          class = "org.example.MusicPlayer">-->
<!--&lt;!&ndash;        <property name = "musicList" ref = "musicClassicalBean"/>&ndash;&gt;-->
<!--        <property name = "musicList">-->
<!--            <list>-->
<!--                <ref bean = "musicRockBean"/>-->
<!--                <ref bean = "musicClassicalBean"/>-->
<!--            </list>-->
<!--        </property>-->

<!--&lt;!&ndash;        <property name = "music" ref = "musicBean"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <property name = "name" value="${musicPlayer.name}"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <property name = "volume" value = "${musicPlayer.volume}"/>&ndash;&gt;-->
<!--    </bean>-->
</beans>